<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses data from <a href="https://mapbox.com">Mapbox.com</a> and <a href="https://darksky.net">Darksky.net</a></p>
            <img class="portrait" src="/img/416x416.jpg">
        </div>
        {{>footer}}
    </body>
</html>